export("rivernet.read")
export("rivernet.write")
S3method("plot","rivernet")
S3method("mean","rivernet")
export("analyze")
S3method("analyze","rivernet")
export("prune")
S3method("prune","rivernet")
export("upstreamconnectivity")
S3method("upstreamconnectivity","rivernet")
export("adjacentreaches")
S3method("adjacentreaches","rivernet")
export("getreachind")
S3method("getreachind","rivernet")
export("getnodeind")
S3method("getnodeind","rivernet")
export("getregionconnections")
export("splitreach")
S3method("splitreach","rivernet")

importFrom("graphics", "lines","plot","points","text")
importFrom("utils", "flush.console","read.csv","read.table","write.table")
