export("rivernet.read")
S3method("plot","rivernet")
S3method("mean","rivernet")
export("analyze")
S3method("analyze","rivernet")
export("upstreamconnectivity")
S3method("upstreamconnectivity","rivernet")
export("adjacentreaches")
S3method("adjacentreaches","rivernet")
export("getreachind")
S3method("getreachind","rivernet")
